.header-logo {
    display: block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
  }
  
  .logo {
    margin-right: 93px;
  
  
  &__part {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);
  }
}